.text-area{
    width: 50%;
    margin-left: 10px;
}

.image-area{
    width: 40%;
    margin-right: 10px;
}

.About{
    padding: 30px;
    display: flex;
    align-items: center;
}

.text-area h5{
    position: relative;
    top: 20px;
    font-family: Poppins;
    font-size: 47px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: -0.04em;
    text-align: left;
    
}

.text-area h1{
    font-family: Poppins;
font-size: 130px;
font-style: italic;
font-weight: 700;
text-align: left;
text-shadow: 0px 14px 19px  #0000002B;


}

.background-img{
    border-top: 5px solid black;
    border-right: 12px solid black;
    width: 600px;
    height: 500px;
    border-bottom-left-radius: 200px;
    box-shadow: 0px 14px 19px 0px #0000002B;

}

.hand-img{
    position: relative;
    width: 300px;
    height: 300px;
    top: -323px;
    left: 200px;
}

.background-img-bg{
    background-color: black;
    border-bottom-left-radius: 200px;
    position: relative;
    top: 20px;
}