.Header{
    z-index: 0;
    text-align: center;
    background-image: url(/src/components/headerimg.jpg);
    padding-bottom: 50px;
}

.HeaderBg{
    z-index: 1;
    background-color: white;
    position: absolute;
    height: 100%;
    bottom: 20px;
    width: 100%;
    top: 0;
    opacity: 90%;
}

.center{
}

.side{
    
    transition: opacity 0.3s ease-in-out; 
    opacity: 1; 
    width: 150px;
    height: 270px;
    object-fit: cover;
    
    
   
}
.cen{
    object-fit: cover;
    width: 250px;
    height: 370px;
}
.centerImg{
    object-fit: contain;
    background-color: white;
}

.hero{
    position: relative;
    z-index: 2;
    padding: 100px;
}

.blank{
    padding: 20px;
    background-color: black;
}

h2{
    font-size: 70px;
    font-weight: 200;
}

.hero button{
    margin-top: 20px;
}

.sLeftImg{
    border-top-left-radius: 100px;
}
.sRightImg{
    border-bottom-right-radius: 100px;
}

.cen,.side{
    box-shadow: 0 0 8px 8px #d6d6d6;
}

.paginations{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;


}

.circle{
    text-align: center;
    background-color:  #D9D9D9;
    ;
    width: 14.4px;
    height: 14.4px;
    margin: 0 2px;
    transition: all 0.3s ease-in-out;
    
    border-radius: 20px;

}
.activePag{
    transform: scale(1.2);
    background-color: #F3CE00;}

 


@keyframes animateToRight {
    0% {
      top: 50px;
      left: 232px;
    }

    50%{
        left: 309px;
        top:25px ;
    }

    75% {
        top: 16px;
      left: 464px;
    }

    100% {
      top: 0;
      left: 930px;
    }
  }
  
  @keyframes animateToLeft {
    0% {
        bottom: 50px;
        right: 232px;
      }
  
      50%{
    right: 309px;
          bottom:25px ;
      }
  
      75% {
          bottom: 16px;
        right: 464px;
      }
  
      100%{
             bottom: 0;
        right: 930px;
      }
  }
  
  .switchSideRight {
    position: relative;
    animation: animateToRight 0.4s  forwards; /* Added 'forwards' to keep the final animation state */
  }
  
  .switchSideLeft {
    position: relative;
    animation: animateToLeft 0.4s  forwards; /* Added 'forwards' to keep the final animation state */
  }
  
  .centerImageToRight {
    position: relative;
    animation: animateToRight 0.4s forwards; /* Adjust the animation duration as needed */
  }
  
  .centerImageToLeft {
    position: relative;
    animation: animateToLeft 0.4s forwards; /* Adjust the animation duration as needed */
  }