.Header{
    z-index: 0;
    text-align: center;
    background-image: url(/src/components/headerimg.jpg);
    padding-bottom: 50px;
}

.HeaderBg{
    z-index: 1;
    background-color: white;
    position: absolute;
    height: 100%;
    bottom: 20px;
    width: 100%;
    top: 0;
    opacity: 90%;
}

.center{
    background-color: white;
}

.side{
    
    transition: opacity 0.3s ease-in-out; 
    opacity: 1; 
    width: 150px;
    height: 270px;
    object-fit: cover;
    
   
}
.cen{
    object-fit: cover;
    width: 250px;
    height: 370px;
}
.centerImg{
    object-fit: contain;
    background-color: white;
}

.hero{
    position: relative;
    z-index: 2;
    padding: 100px;
}

.blank{
    padding: 20px;
    background-color: black;
}

h2{
    font-size: 70px;
    font-weight: 200;
}

.hero button{
    margin-top: 20px;
}

.sLeftImg{
    border-top-left-radius: 100px;
}
.sRightImg{
    border-bottom-right-radius: 100px;
}

.cen,.side{
    box-shadow: 0 0 10px 12px #d6d6d6;
}

.paginations{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;


}

.circle{
    text-align: center;
    background-color:  #D9D9D9;
    ;
    width: 14.4px;
    height: 14.4px;
    margin: 0 2px;
    transition: all 0.3s ease-in-out;
    
    border-radius: 20px;

}
.activePag{
    transform: scale(1.2);
    background-color: #F3CE00;}

 
.hero img{
    transition: all 0.4s ease-in-out;
}

/*top:50px
left:928px
0px
*/
