
/* .active{
   background-color: violet; */
nav{
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
}
button{
    background-color: black;
   padding: 10px 20px;
    color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}
h1{
    font-size: 50px;
    font-weight: 300;
}

.navlinks a:hover{
    border-bottom: 2px solid black;
}



